body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

.child {

    align-items: center;
    border: 2px solid rgb(214, 173, 25);
    width: 100px;
    height: 50px;
}